<div id='app'>
  <div id='fp2d'>
    <iframe
      src="https://floorplanner.com/projects/<%= @diagnostic.plan %>/viewer?view=2d&section=180"
      frameborder='0'
      width='100%'
      height='650'
      scrolling='no'
      zoom='1'
      >
    </iframe>
  </div>
  <div id='fp3d'></div>
</div>
