<%= render "shared/sidebar"%>

<div class="dashboard-content">
  <div class="padding-box">
    <h3 class="text-center">Mes diagnostics</h3>
    <%= render "shared/diagnostics_list" %>
  </div>
</div>
