// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #56ABAD;
$yellow: #F1B255;
$green: #32B796;
$orange: #E67E22;
$green: #32B796;

$dark-gray: #4A4A4A;
$gray: #000000;
$regular-gray: #D0D0D0;
$light-gray: #F4F4F4;
$medium-gray: #4A4A4A;
$blue-gray:#495073;
$dark-blue-gray: #3D4361;

$anis:#B2D430;
$diago:#68C3ED;

