$shadow: 0 2px 5px 0 rgba(0,0,0,0.07),0 2px 0 0 rgba(0,0,0,0.03);
$border-light: 1px solid $medium-gray;
$border-medium: 2px solid $dark-gray;
$border-radius: 13px;
$border-color: $medium-gray;
$padding-side: 0 20px 0 20px;
$white-space: 20px;

.fullscreen-wrapper-under-navbar {
  background-color: #F6F6F8;
  width: 100%;
  height: calc(100vh - 70px);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
.margin-bottom-medium {
  margin-bottom: 40px !important;
}
.margin-bottom-small {
  margin-bottom: 10px !important;
}
.center {
  margin: auto;
}
.border-light {
  border: $border-light;
  border-radius: $border-radius;
}
.underline {
  border-bottom: $border-medium;
  padding-bottom: 5px;
}
.underline-light {
  border-bottom: $border-light;
  padding-bottom: 20px;
}
.padding-box {
  padding: 20px;
}
.flexbox {
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.flex-horizontal {
  display: flex;
  justify-content: center;
}
.flex-left {
  display: flex;
  justify-content: left;
}
.flex-vertical {
  display: flex;
  align-items: center;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-grow1 {
  flex-grow: 1;
}
.flex-grow2 {
  flex-grow: 2;
}
.fixed-top {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 10;
}
.fixed-under-top {
  position: fixed;
  top: 70px;
  width: 100%;
  z-index: 10;
}
.min-width {
  min-width: 200px;
}
//CONFIG
a:hover {
  text-decoration: none !important;
}
input, select {
  height: 45px !important;
}
.checkbox input[type="checkbox"] {
  top: -20px;
}
#info {
  background-color: $diago;
  color: white;
  padding: 10px;
}
.full-screen-wrapper-with-navbar {
  background-color: #F6F6F8;
  width: 100%;
  height: calc(100vh - 70px);
  // object-fit: cover;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
//SPLITSCREEN
.splitscreen-wrapper{
  position: relative;
  width: 100%;
  margin: 0px;
}
.splitscreen-column {
  width: 50%;
  height: calc(100vh - 70px);
  float: left;
  background-size: cover;
}
#splitscreen-title {
  position: absolute;
  left: 50%;
  padding: 20px;
  background-color: white;
  border-radius: 13px;
  color: $dark-gray;
  margin-left: -136px;
}
