$shadow: 0 2px 5px 0 rgba(0,0,0,0.07),0 2px 0 0 rgba(0,0,0,0.03);
$border-light: 1px solid $medium-gray;
$border-medium: 2px solid $dark-gray;
$border-radius: 13px;
$border-color: $medium-gray;
$padding-side: 0 20px 0 20px;
$white-space: 20px;
$input-height: 50px !important;

.clickable{
  cursor: pointer;
}
.relative {
  position: relative;
}
.fullscreen {
  width:100%;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  &.under-navbar {
    height: calc(100vh - 70px);
  }
  &.under-navbar-slim {
    height: calc(100vh - 45px);
  }
  &.under-breadcrumb {
    height: calc(100vh - 100px);
  }
}
.minfullscreen {
  width: 100%;
  min-height: 100vh;
}
.margin-bottom-medium {
  margin-bottom: 40px !important;
}
.margin-bottom-small {
  margin-bottom: 10px !important;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
.border-light {
  border: $border-light;
  border-radius: $border-radius;
}
.underline {
  border-bottom: $border-medium;
  padding-bottom: 5px;
}
.underline-light {
  border-bottom: $border-light;
  padding-bottom: 20px;
}
.padding-box {
  padding: 20px;
}
.flexbox {
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.flex-horizontal {
  display: flex;
  justify-content: center;
}
.flex-left {
  display: flex;
  justify-content: left;
}
.flex-vertical {
  display: flex;
  align-items: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  &.top {
    justify-content: start;
  }
  &.center {
    justify-content: center;
  }
  &.between {
    justify-content: space-between;
  }
}
.flex-wrap {
  flex-wrap: wrap;
}
.fixed-top {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 10;
}
.fixed-under-top {
  position: fixed;
  top: 70px;
  width: 100%;
  z-index: 10;
}
.min-width {
  min-width: 200px;
}
.full-width {
  width: 100%;
}
//CONFIG
a:hover {
  text-decoration: none !important;
}
//SPLITS
.splitscreen-wrapper{
  position: relative;
  width: 100%;
  margin: 0px;
}
.splitscreen-column {
  width: 50%;
  height: calc(100vh - 70px);
  float: left;
  background-size: cover;
}
#splitscreen-title {
  position: absolute;
  left: 50%;
  padding: 20px;
  background-color: white;
  border-radius: 13px;
  color: $dark-gray;
  margin-left: -136px;
}
.half-split {
  width: 50%;
  float: left;
}
//TEST
.test-red {
  background-color: red;
}
//FILE UPLOAD
.fileUpload {
    position: relative;
    background-color: $light-gray;
    display: block;
    height: 150px;
    width: 150px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
  ul {
    position: absolute;
    right: 26px;
    top: 26px;
    list-style-type: none;
    img {
      width: 100px;
      height: 100px;
    }
    a {
      position: absolute;
      right: -19px;
      top: -24px;
      background-color: white;
      border-radius: 50%;
      width: 45px;
      height: 45px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: black;
    }
  }
  input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
  }
}
.upload {
  position: absolute;
  left: 50%;
  margin-left: -12px;
  top: 50%;
  margin-top: -14px;
}
// FORM
input[type="checkbox"] {
  width: 40px;
}
input, select {
  height: $input-height;
}
.checkbox input[type="checkbox"] {
  top: -20px;
}
.alert-warning, .alert-info, .alert-success {
  border: none
}
//SIMPLE FORM FIX
input[type="checkbox"] {
  left: 20px;
  top: -16px;
}
label.boolean {
    padding-left: 50px;
}

