 <!-- CARDS -->
<!--     <tr>
      <td style="border-collapse:collapse;min-width:600px;width:100%;" align="center">
        <div style="position:relative;">
          <table style="width:100%;background-color:#FFFFFF;" width="100%" bgcolor="#FFFFFF" cellpadding="0" cellspacing="0">
            <tbody>
              <tr>
                <td style="border-collapse:collapse;" align="center">
                  <table class="width-572" style="background-color:#FFFFFF;width:100%;overflow-x:auto;max-width:572px;" bgcolor="#FFFFFF" cellpadding="0" cellspacing="0">
                    <tbody>
                      <tr>
                        <td style="border-collapse:collapse;background-color:#FFFFFF;min-height:20px;" align="center" height="20" valign="top" bgcolor="#FFFFFF">
                        </td>
                      </tr>
                      <tr>
                        <td style="border-collapse:collapse;" align="left">
                          <table class="backgroundToChange col-number-left" style="width:270px;background-color:rgb(243, 117, 163);" align="left" cellpadding="0" cellspacing="0">
                            <tbody>
                              <tr>
                                <td style="border-collapse:collapse;">
                                  <div class="sim-row-content5-images">
                                    <a rel="nofollow" target="_blank" href="">
                                      <img alt="Restos" class="image-number" style="width:270px;min-height:200px;display:block;border:none;" src="https://s3-eu-central-1.amazonaws.com/lrqdo-news-images/286x212-dd71f686cf069a6ebb854eb2c366a49644a0565a.png">
                                    </a>
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td style="border-collapse:collapse;">
                                  <table cellpadding="0" cellspacing="0">
                                    <tbody>
                                      <tr>
                                        <td style="border-collapse:collapse;width:15px;" width="15">
                                        </td>
                                        <td style="border-collapse:collapse;min-height:16px;" height="16">
                                        </td>
                                        <td style="border-collapse:collapse;width:15px;" width="15">
                                        </td>
                                      </tr>
                                      <tr>
                                        <td style="border-collapse:collapse;width:15px;" width="15">
                                        </td>
                                        <td style="border-collapse:collapse;min-height:20px;" align="left" height="20">
                                        <span style="color:#F1B255;border-bottom:3px solid #F1B255;font-family:Helvetica,;font-size:12px;line-height:24px;font-weight:bold;" class="sim-row-content5-title">CHIFFRES</span>
                                        </td>
                                        <td style="border-collapse:collapse;width:15px;" width="15">
                                        </td>
                                      </tr>
                                      <tr>
                                        <td style="border-collapse:collapse;width:15px;" width="15">
                                        </td>
                                        <td style="border-collapse:collapse;min-height:10px;" height="10">
                                        </td>
                                        <td style="border-collapse:collapse;width:15px;" width="15">
                                        </td>
                                      </tr>
                                      <tr>
                                        <td style="border-collapse:collapse;width:15px;" width="15">
                                        </td>
                                        <td style="border-collapse:collapse;min-height:10px;" height="10">
                                          <div style="margin-bottom:0px;font-size:21px;line-height:30px;font-family:Helvetica, 'Times New Roman', Times, serif;color:rgb(45, 40, 70);text-align:left;" class="textColorToChange sim-row-content5-content">71 000 bénévoles aident les Restos du cœur.</div>
                                        </td>
                                        <td style="border-collapse:collapse;width:15px;" width="15">
                                        </td>
                                      </tr>
                                      <tr>
                                        <td style="border-collapse:collapse;width:15px;" width="15">
                                        </td>
                                        <td style="border-collapse:collapse;min-height:26px;" height="26">
                                        </td>
                                        <td style="border-collapse:collapse;width:15px;" width="15">
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>

                          <table class="col-number-right" style="background-color:#FFFFFF;width:302px;" align="left" width="302" bgcolor="#FFFFFF" cellpadding="0" cellspacing="0">
                            <tbody>
                              <tr>
                                <td class="number-width-30" style="border-collapse:collapse;background-color:#FFFFFF;width:30px;" width="30" bgcolor="#FFFFFF">
                                </td>
                                <td class="number-width-270" style="border-collapse:collapse;background-color:#FFFFFF;width:270px;border:1px solid #E1E1E1;border-radius:6px 6px 0px 0px;" width="270" bgcolor="#FFFFFF">
                                  <table class="number-width-270" style="background-color:#FFFFFF;width:270px;" width="270" bgcolor="#FFFFFF" cellpadding="0" cellspacing="0">
                                    <tbody>
                                      <tr>
                                        <td style="border-collapse:collapse;min-height:10px;width:10px;" height="10" width="10">
                                        </td>
                                        <td class="number-width-250" style="border-collapse:collapse;min-height:10px;width:250px;" height="10" width="250">
                                        </td>
                                        <td style="border-collapse:collapse;min-height:10px;width:10px;" height="10" width="10">
                                        </td>
                                      </tr>
                                      <tr>
                                        <td style="border-collapse:collapse;width:10px;" width="10">
                                        </td>
                                        <td class="image-number-twitter" style="border-collapse:collapse;min-height:330px;width:250px;" height="348" width="264">
                                          <div class="sim-row-content5-images">
                                              <a rel="nofollow" target="_blank" href="">
                                                <img alt="Sondage" class="image-number-twitter" style="min-height:330px;width:250px;display:block;border:none;" src="https://s3-eu-central-1.amazonaws.com/lrqdo-news-images/250x330-1ad8f5bb223baa77a88ac1bae816c11ffb169e91.png">
                                              </a>
                                          </div>
                                        </td>
                                        <td style="border-collapse:collapse;width:10px;" width="10">
                                        </td>
                                      </tr>
                                      <tr>
                                        <td style="border-collapse:collapse;min-height:10px;width:10px;" height="10" width="10">
                                        </td>
                                        <td class="number-width-250" style="border-collapse:collapse;min-height:10px;width:250px;" height="10" width="250">
                                        </td>
                                        <td style="border-collapse:collapse;min-height:10px;width:10px;" height="10" width="10">
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td style="border-collapse:collapse;min-height:20px;" align="center" height="20">
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </td>
    </tr> -->
