<table style="width:100%;background-color:rgb(255,255,255);" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <td style="border-collapse:collapse;min-height:25px;" align="center" height="25"> </td>
    </tr>
    <tr>
      <td class="sim-row-header1-content" style="border-collapse:collapse;" align="center">
        <a rel="nofollow" style="color:#4A4A4A;text-decoration:none;font-size:48px; font-weight: bold; line-height:45px;font-family:Helvetica;" target="_blank" href="http://diag-o.herokuapp.com" class="sim-row-header1-title"><%= head_title %></a>
      </td>
    </tr>
    <tr>
      <td style="border-collapse:collapse;" align="center">
          <a rel="nofollow" style="color:#959595;text-decoration:none;font-size:21px;line-height:40px;font-family:Helvetica;" target="_blank" href="http://diag-o.herokuapp.com" class="sim-row-header1-title"><%= head_subtitle %></a>
      </td>
    </tr>
    <tr>
      <td style="border-collapse:collapse;min-height:10px;" align="center" height="10"> </td>
    </tr>
  </tbody>
</table>
