<!-- INFO FACEBOOK -->
<tr>
  <td style="border-collapse:collapse;min-width:600px;width:100%;" align="center">
    <div style="position:relative;">
      <table cellspacing="0" cellpadding="0" width="100%" style="width:100%;background-color:#FFF;" bgcolor="#FFF">
      <tbody>
        <tr>
          <td align="center" height="15" style="border-collapse:collapse;min-height:15px;">
          </td>
        </tr>
        <tr>
          <td align="center" style="border-collapse:collapse;">
            <table class="width-572 backgroundToChange" cellspacing="0" cellpadding="0" style="background-color:#FFF;width:100%;overflow-x:auto;max-width:572px;">
              <tbody style="width: 100%"><tr>
                <td align="left" style="border-collapse:collapse;">
                <table align="left" cellspacing="0" cellpadding="0" style="width:100%;">
                  <tbody>
                    <tr>
                      <td width="28" height="44" class="height-44" style="border-collapse:collapse;width:28px;min-height:44px;">
                      </td>
                      <td style="border-collapse:collapse;">
                      </td>
                      <td width="28" style="border-collapse:collapse;width:28px;">
                      </td>
                    </tr>

                    <tr>
                      <td width="28" style="border-collapse:collapse;width:28px;">
                      </td>
                      <td style="border-collapse:collapse;">
                          <strong class="textColorToChange sim-row-content7-title" style="font-weight:bold;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', system, 'Helvetica Neue', Helvetica, Arial, sans-serif;color:#4A4A4A;font-size:18px;line-height:27px;text-transform:uppercase;text-align:left;"><%= label_title %></strong>

                      </td>
                      <td width="28" style="border-collapse:collapse;width:28px;">
                      </td>
                    </tr>
                    <tr>
                      <td width="28" height="10" style="border-collapse:collapse;width:28px;min-height:10px;">
                      </td>
                      <td style="border-collapse:collapse;">
                      </td>
                      <td width="28" style="border-collapse:collapse;width:28px;">
                      </td>
                    </tr>
                    <tr>
                      <td width="28" style="border-collapse:collapse;width:28px;">
                      </td>
                      <td style="border-collapse:collapse;">
                          <div class="textColorToChange sim-row-content7-content" style="line-height:30px;color:#E67E22;font-size:21px;font-family:Helvetica, arial, sans-serif, serif;text-align:left;">Le diagnosticien doit pouvoir accéder à l'habitation, votre présence est requise.</div>
                      </td>
                      <td width="28" style="border-collapse:collapse;width:28px;">
                      </td>
                    </tr>
                    <tr>
                      <td height="30" style="height: 30px"></td>
                    </tr>
                    <tr>
                    <tr>
                      <td width="28" style="border-collapse:collapse;width:28px;">
                      </td>
                      <td style="border-collapse:collapse;">
                          <div class="textColorToChange sim-row-content7-content" style="line-height:30px;color:#4A4A4A;font-size:21px;font-family:Helvetica, arial, sans-serif, serif;text-align:left;">Date: <%= date %></div>
                          <hr>
                      </td>
                      <td width="28" style="border-collapse:collapse;width:28px;">
                      </td>
                    </tr>
                    <tr>
                      <td width="28" style="border-collapse:collapse;width:28px;">
                      </td>
                      <td style="border-collapse:collapse;">
                          <div class="textColorToChange sim-row-content7-content" style="line-height:30px;color:#4A4A4A;font-size:21px;font-family:Helvetica, arial, sans-serif, serif;text-align:left;">Heure: <%= hour %></div>
                          <hr>
                      </td>
                      <td width="28" style="border-collapse:collapse;width:28px;">
                      </td>
                    </tr>
                    <tr>
                      <td width="28" style="border-collapse:collapse;width:28px;">
                      </td>
                      <td style="border-collapse:collapse;">
                          <div class="textColorToChange sim-row-content7-content" style="line-height:30px;color:#4A4A4A;font-size:21px;font-family:Helvetica, arial, sans-serif, serif;text-align:left;">Durée: 3h</div>
                          <hr>
                      </td>
                      <td width="28" style="border-collapse:collapse;width:28px;">
                      </td>
                    </tr>
                    <tr>
                      <td width="28" style="border-collapse:collapse;width:28px;">
                      </td>
                      <td style="border-collapse:collapse;">
                          <div class="textColorToChange sim-row-content7-content" style="line-height:30px;color:#4A4A4A;font-size:21px;font-family:Helvetica, arial, sans-serif, serif;text-align:left;">Adresse: <%= address %></div>
                      </td>
                      <td width="28" style="border-collapse:collapse;width:28px;">
                      </td>
                    </tr>
                    <tr>
                      <td class="-bottom-height" height="44" style="border-collapse:collapse;min-height:0px;">
                      </td>
                      <td style="border-collapse:collapse;">
                      </td>
                      <td style="border-collapse:collapse;">
                      </td>
                    </tr>
                  </tbody>
                </table>
                </td>
              </tr></tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td align="center" height="15" style="border-collapse:collapse;min-height:15px;">
          </td>
        </tr>
      </tbody>
      </table>
    </div>
  </td>
</tr>
