<!-- QUOTATION -->
    <tr>
      <td style="border-collapse:collapse;min-width:600px;width:100%;" align="center">
        <div class="sim-row" style="position:relative;">
          <table class="removeWrapp removeBackground" style="width:100%;" cellpadding="0" cellspacing="0" bgcolor="#FFF">
              <tbody><tr>
                  <td style="border-collapse:collapse;" height="42"></td>
              </tr>
              <tr>
                  <td style="border-collapse:collapse;" align="center">

                      <table class="width-572" style="width:100%;overflow-x:auto;max-width:572px;" border="0" cellpadding="0" cellspacing="0">
                          <tbody><tr>
                              <td style="border-collapse:collapse;" align="center">
                                  <table border="0" cellpadding="0" cellspacing="0">
                                      <tbody><tr>
                                          <td style="border-collapse:collapse;font-size:30px;line-height:20px;color:#2d2846;" align="right" valign="top">«&nbsp;</td>
                                          <td style="border-collapse:collapse;width:5px;" width="5px"></td>
                                          <td style="border-collapse:collapse;" align="center" valign="middle">

                                              <span style="text-align:center;font-size:18px;line-height:30px;font-style:italic;font-family:Helvetica,;color:rgb(45,40,70);" class="font-18 sim-row-content8-center-tab-title">Il en faut peu pour être heureux.</span>


                                          </td>

                                          <td style="border-collapse:collapse;width:5px;" width="5px"></td>
                                          <td style="border-collapse:collapse;font-size:30px;line-height:20px;color:#2d2846;" align="left" valign="top">»</td>

                                      </tr>
                                  </tbody></table>
                              </td>
                          </tr>
                          <tr>
                              <td style="border-collapse:collapse;min-height:16px;" height="16px">

                              </td>
                          </tr>

                          <tr valign="middle">
                              <td style="border-collapse:collapse;" align="right">
                                  <span class="font-15 author sim-row-content8-center-tab-title" style="font-size:15px;font-family:Helvetica,;color:rgb(45,40,70);text-align:right;">Baloo</span>
                              </td>
                          </tr>


                      </tbody></table>


                  </td>
              </tr>
              <tr>
                  <td style="border-collapse:collapse;" height="60"></td>
              </tr>
          </tbody>
          </table>
        </div>
      </td>
    </tr>
