    <!-- TITLE UNDER PART -->
    <tr>
      <td style="border-collapse:collapse;min-width:600px;width:100%;" align="center">
        <div class="sim-row" style="position:relative;">
          <table class="removeWrapp removeBackground" style="width:100%;" cellpadding="0" cellspacing="0">
            <tbody>
              <tr>
                <td style="border-collapse:collapse;" align="left">
                  <table style="width:600px;" border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                      <tr>
                        <td style="border-collapse:collapse;" height="30"></td>
                      </tr>
                      <tr valign="middle">
                        <td style="border-collapse:collapse;" height="25">
                          <h2 class="sim-row-content6-center-tab-title" style="font-family:Helvetica;text-align:center;font-size:25px;font-weight:bold; color:#4A4A4A;margin:0px;line-height:32px;">
                                      <%= text %></h2>
                        </td>
                      </tr>
                      <tr>
                        <td style="border-collapse:collapse;" height="35">
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </td>
    </tr>
