<div class="dashboard-wrap">

<%= render "/shared/sidebar"%>

<div class="dashboard-content">
  <div class="padding-box">
    <div class="splitscreen-wrapper">
      <div class="splitscreen-column">
        <%= render "/shared/map" %>
      </div>
      <div class="splitscreen-column">
        <%= render "shared/card_note" %>
      </div>
    </div>
  </div>
</div>

</div>
