.dashboard-content{
  position: absolute;
  left: 200px;
  width: calc(100% - 200px);
  a {
    color: $blue-gray;
    &:hover{
      color: $yellow;
    }
  }
}
.with_right_sidebar {
  width: calc(100% - 450px);
}
