.dashboard-content{
  position: absolute;
  left: 200px;
  width: calc(100% - 200px);
}

.dashboard-container {
  border-radius: 5px;
  margin: 8px;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background-color: white;
  padding: 5px;
  h4, h5, p {
    padding: 0px 7px;
  }
}
