<%= render "shared/sidebar"%>

<div class="dashboard-content">
  <div class="padding-content">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <%= render "shared/map"%>
      </div>
      <div class="col-xs-12 col-md-6">
        <h4>Diagnostic en cours</h4>
        <%= render "shared/diagnostics_list"%>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h4>Prochain rendez-vous</h4>
      </div>
      <div class="col-md-12">
        <%= render "shared/bookings_list"%>
      </div>
    </div>
  </div>
</div>
