<%= render "shared/sidebar"%>

<div class="dashboard-content">
  <div class="padding-content">
    <div class="row">
      <div class="col-xs-12 col-md-7">
        <%= render "shared/map"%>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%= render "shared/bookings_list"%>
      </div>
    </div>
  </div>
</div>
