<div class="breadcrumb flex-horizontal">
  <ul>
    <% 3.times do |x| %>
      <li class="<%= "green" if session[:page] >= x+1 %>">
        <p class="number-in-circle"><%= x+1 %></p>
        <p class="text-over-line"><%= t('inscription.breadcrumb'+(x+1).to_s) %></p>
        <div class="line-under-text"></div>
      </li>
    <% end %>
  </ul>
</div>
