<%= month_calendar do |date| %>
  <div class="date-day"><%= date.day %></div>
  <div class="cell-content">
    <div class="btn-container">
      <% ["8","14"].each do |hour| %>



      <% end %>
    </div>
  </div>
<% end %>
