<div class="search-form-fake-wrap">
  <%= simple_form_for :query, url: url , method: :get do |f| %>
      <%= f.input :address, label: "Adresse", placeholder: placeholder, :label_html => { :class => 'search-field' } %>
      <%= f.button :submit, class: 'btn btn-anis', id: "button-search", value: btn_text %>
  <% end %>
</div>
