<%= link_to link, id: id do %>
  <div class="<%= klass %>">
    <div>
      <p>
        <% unless icon == "none" %>
          <i class="fa fa-<%= icon %>" aria-hidden="true"></i>
        <% end %>
        <%= text %>
      </p>
    </div>
  </div>
<% end %>
