<%= link_to bookings_path do %>
  <div class="sidebar-button">
    <div>
      <p>
        <i class="fa fa-<%= icon %>" aria-hidden="true"></i>
        <%= text %>
      </p>
    </div>
  </div>
<% end %>
