<%= simple_form_for :query, url: url , method: :get do |f| %>
  <div class="form-fake-wrap flex-vertical">
    <%= f.input :comment, label: false, id: "textarea", as: :text, :input_html => { :cols => 5, :rows => 10, value: text, :resize => "none" } %>
  </div>
    <%= f.button :submit, class: 'btn btn-green', value: btn_text %>
<% end %>

