<div  id="zone1"
      data-color="<%= @color %>"
      data-area="<%= @area_orange %>"></div>

<input id="pac-input" class="controls" type="text"
      placeholder="Enter a location">
  <div id="map"></div>
