<!-- Bout de code de Jonathan pour transférer des infos du controller à la vue -->
<div  id="zone1"
      data-color="<%= @color %>"
      data-area="<%= @area_orange %>"></div>

<%= content_tag 'div', class: "data-for-js", data: {zoneslist: @zoneslist, address: @address} do %>
<% end %>


<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6">
      <div class="map-wrapper">
        <input id="pac-input" class="controls" type="text" placeholder="Entrer une adresse">
        <div id="map">
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6">
      <div class="report">
          <h4 class="margin-bottom-small underline">Rapport d'élligibilité</h4>
          <h6>Adresse de l'habitation concernée:</h6>
          <h4 id="address">--</h4>
          <h6>Situation:</h6>
          <h4 id="zone">--</h4>
          <h6>Éligibilité:</h6>
          <h4 class="margin-bottom-small" id="conclusion">--</h4>
          <h4 class="margin-bottom-small" id="calltoaction">--</h4>
          <%= link_to "Prendre un rendez-vous", root_path , class: "btn-green flexbox"  %>
      </div>
    </div>
  </div>
</div>
