.btn, input.btn {
  color: white;
  border-radius: 13px;
  height: 50px;
  border: none;
  padding: 0px 30px 0px 30px;
  max-width: 350px;
  box-shadow: none;
  -webkit-box-shadow: none !important;
  &:hover {
    background-color: $yellow;
    color: white;
  }
}
.btn-anis {
  background-color: $anis;
}
.btn-blue-gray {
  background-color: $blue-gray;
}
.btn-slim {
  color: white;
  background-color: $anis;
  border-radius: 40px;
  height: 40px;
  border: none;
  padding: 0px 30px 0px 30px;
}
.btn-inverse {
  color: $dark-gray;
  background-color: transparent;
}
.with-border {
  border: 1px solid $medium-gray;
}
