.btn {
  color: white;
  background-color: $anis;
  border-radius: $border-radius;
  height: 50px;
  border: none;
  padding: 0px 30px 0px 30px;
  max-width: 350px;
  box-shadow: none;
  border-bottom:none;
  &:hover {
    background-color: $yellow;
    color: white;
  }
}
.btn-anis {
  background-color: $anis;
}
.btn-slim {
  color: white;
  background-color: $anis;
  border-radius: 40px;
  height: 40px;
  border: none;
  padding: 0px 30px 0px 30px;
}
