.btn, input.btn {
  color: white;
  background-color: $anis;
  border-radius: $border-radius;
  height: 50px;
  border: none;
  padding: 0px 30px 0px 30px;
  max-width: 350px;
  box-shadow: none;
  -webkit-box-shadow: none !important;
  border-bottom:none;
  p {
    margin-bottom: 0px;
  }
  &:hover {
    background-color: $yellow;
    color: white;
  }
}
.btn-slim, a.btn-slim {
  color: white;
  background-color: $anis;
  border-radius: 40px;
  height: 40px;
  border: none;
  padding: 0px 30px 0px 30px;
  &:hover {
    background-color: $yellow !important;
    color: white;
  }
}
.btn-inverse {
  color: $dark-gray;
  background-color: transparent;
}
.with-border {
  border: 1px solid $medium-gray;
}
input {
  &:focus {
    border: none;
  }
}
.btn-anis {
  background-color: $anis !important;
}
.btn-red {
  background-color: red !important;
}
.btn-blue-gray {
  background-color: $blue-gray !important;
}
