.card-info {
  height: 350px;
  margin: 20px 0 20px 0;
  .fa {
    border: 2px solid $diago;
    width: 90px;
    height: 90px;
    padding: 20px;
    border-radius: 50%;
    font-size: 48px;
    margin: 20px;
  }
}
