.list-element {
  padding: 20px;
  border: 1px solid $medium-gray;
  border-radius: $border-radius;
  margin-bottom: 10px;
  box-shadow: $shadow;
  h5 {
    margin-top: 0px;
  }
  i {
    margin-left: 20px;
  }
  p, h3 {
    margin-bottom: 0px;
  }
}
.line {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.user-data {
  margin-right: 10px;
}
.email {
  min-width: 15%;
}
.address, .phone, .user-body {
  flex-grow: 1;
}
.list-name {
  width: 30%;
}
.status.accepted, .status.accepted a {
  color: $anis;
}
.status.declined, .status.declined a {
  color: $yellow;
}
.status.pending {
  color: $light-gray;
}
