.incoming {
  background: white;
  width: 100%;

  h3 {
    margin: 0px;
    border-bottom-width: 1px solid black;
  }
}
.small-card {
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 3px;
  transition: all 0.15s ease;
}
.card-body {
  flex: 1 1 auto;
  h4 {
    margin: 3px 0px;
  }
  p {
    margin: 0px;
    color: $medium-gray;
  }
}
