.form-fake-wrap {
  position: relative;
  display: flex;
  align-items: center;
  padding: 5px 15px 5px 20px;
  background: #FFFFFF;
  border: 2px solid #4A4A4A;
  border-radius: 20px;
  height: 70px;
}
form.simple_form.query {
  width: calc(100% - 24px);
}
.form-group.string.required.query_result {
  margin-bottom: 0px;
}
input#query_result {
  background-color: white;
  border: none;
  box-shadow: none;
}
input#button-search {
  position: absolute;
  right: 10px;
  top: 8px;
  width: 200px;
  color: white;
  background-color: $anis;
  border-radius: 13px;
  height: 50px;
  border: none;
  padding: 10px 30px 10px 30px;
  max-width: 350px;
}
