.search-form-fake-wrap {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 20px 0 20px;
  background: #FFFFFF;
  border: 2px solid #4A4A4A;
  border-radius: 20px;
  width: 90%;
  height: 70px;
  input {
    border: none;
    box-shadow: none;
  }
  .form-group {
    margin-bottom: 0px;
  }
  form.simple_form.query {
    width: calc(100% - 24px);
  }
}
input#button-search {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 200px;
  padding: 0px 30px 0px 30px;
}
